@import './styles/_fonts.css';
@import './styles/_reset.css';
.wrap {
  min-height: 100vh;
  width: 100%;
  font-family: "DJB Get Digital", monospace;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.wrap .background {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: #76BA99;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.wrap .background .table {
  width: 100%;
  height: 60%;
  background: #876445;
  border-top: #5B432E 5px solid;
}
.wrap .coffeMachine {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 10;
}
.wrap .coffeMachine .water {
  height: 600px;
  width: 150px;
  background: transparent;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.wrap .coffeMachine .water .water__group {
  height: 70%;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: flex-end;
}
.wrap .coffeMachine .water .water__group .water__mask,
.wrap .coffeMachine .water .water__group .water__value {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 5px 0 0 0;
}
.wrap .coffeMachine .water .water__group .water__mask {
  background: rgba(255, 255, 255, 0.2078431373);
  margin-right: -50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  z-index: 2;
}
.wrap .coffeMachine .water .water__group .water__mask .water__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 0;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.wrap .coffeMachine .water .water__group .water__mask .water__text:first-child {
  top: -7px;
}
.wrap .coffeMachine .water .water__group .water__mask .water__text:last-child {
  top: 7px;
}
.wrap .coffeMachine .water .water__group .water__mask .water__text::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #ffffff;
  margin-right: 5px;
}
.wrap .coffeMachine .water .water__group .water__value {
  height: 0%;
  max-height: calc(100% - 10px);
  min-height: 10px;
  background-color: rgba(76, 76, 231, 0.4);
  opacity: 1;
  margin-left: -50%;
  border-radius: 0;
  z-index: 1;
  transition: height 2s linear;
  backdrop-filter: blur(3px);
}
.wrap .coffeMachine .water .water__decor {
  height: 30%;
  width: 100%;
  background: #4E4E4E;
  border-radius: 0 0 0 5px;
}
.wrap .coffeMachine .user {
  width: 600px;
  height: 600px;
  background: #C4C4C4;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .coffeMachine .user .user__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap .coffeMachine .user .user__group .user__indicators {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}
.wrap .coffeMachine .user .user__group .user__indicators .user__ind {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: gray;
}
.wrap .coffeMachine .user .user__group .user__indicators .user__redind {
  background: radial-gradient(circle, rgb(200, 3, 3) 0%, rgb(50, 0, 0) 100%);
  margin-right: 10px;
}
.wrap .coffeMachine .user .user__group .user__indicators .user__greenind {
  background: radial-gradient(circle, rgb(14, 200, 3) 0%, rgb(6, 50, 0) 100%);
}
.wrap .coffeMachine .user .user__group .user__interface {
  width: 400px;
  height: 200px;
  background-color: #222222;
  border-radius: 3px;
  border: 4px solid rgb(69, 69, 69);
  color: rgba(55, 255, 20, 0.6862745098);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}
.wrap .coffeMachine .user .user__group .user__interface .user__loader {
  height: 20px;
  width: 20px;
  animation: spin 2s infinite steps(1);
}
.wrap .coffeMachine .user .user__group .user__interface .user__loader .user__loaderSymb {
  height: 3px;
  width: 100%;
  background: rgba(55, 255, 20, 0.6862745098);
  border-radius: 5px/3px 0;
}
.wrap .coffeMachine .user .user__group .user__interface .user__status {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.wrap .coffeMachine .user .user__group .user__interface .user__timer {
  font-size: 50px;
}
.wrap .coffeMachine .user .user__group .user__interface .user__text {
  font-size: 16px;
}
.wrap .coffeMachine .user .user__group .user__interface .user__headline {
  font-size: 25px;
}
.wrap .coffeMachine .user .user__group .user__interface .user__counter {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.wrap .coffeMachine .user .user__group .user__interface .user__counter .user__counterBtn {
  background: transparent;
  border: none;
  outline: none;
  color: rgba(55, 255, 20, 0.6862745098);
  font-family: "DJB Get Digital", monospace;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
}
.wrap .coffeMachine .user .user__group .user__interface .user__counter .user__counterWindow {
  font-size: 30px;
  line-height: 25px;
  border: 2px dashed rgba(55, 255, 20, 0.6862745098);
  padding: 10px 25px;
  text-transform: uppercase;
}
.wrap .coffeMachine .user .user__group .user__interface .user__nextBtn {
  background: transparent;
  border: 2px rgba(55, 255, 20, 0.6862745098) dashed;
  padding: 5px 45px;
  text-transform: uppercase;
  font-family: "DJB Get Digital", monospace;
  color: rgba(55, 255, 20, 0.6862745098);
  font-size: 18px;
  cursor: pointer;
}
.wrap .coffeMachine .user .user__group .user__interface .user__alert {
  font-size: 35px;
  animation: blick 1.5s 3 steps(1);
  text-transform: uppercase;
  text-align: center;
}
.wrap .coffeMachine .user .user__group .user__interface .user__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap .coffeMachine .user .user__group .user__interface .user__time .user__row {
  text-align: center;
  font-size: 45px;
}
.wrap .coffeMachine .user .user__group .user__interface .user__time .user__day {
  text-align: center;
  font-size: 18px;
}
.wrap .coffeMachine .user .user__group .user__interface .user__btn-place {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
}
.wrap .coffeMachine .user .user__group .user__interface .user__btn-place .user__btn {
  width: 50%;
  background: transparent;
  color: rgba(55, 255, 20, 0.6862745098);
  font-family: "DJB Get Digital", monospace;
  text-transform: uppercase;
  font-size: 25px;
  border: dashed 3px rgba(55, 255, 20, 0.6862745098);
  padding: 15px;
  cursor: pointer;
}
.wrap .coffeMachine .user__result {
  width: 400px;
  height: 300px;
  background: #525252;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}
.wrap .coffeMachine .user__result .user__result-window {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  flex-shrink: 0;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
  transition: 0.5s ease-in;
}
.wrap .coffeMachine .user__result .user__result-window .user__result-cup {
  height: 100%;
  width: 100%;
  background: url(./images/cup.svg) no-repeat;
  background-position: center -300%;
  background-size: 100% 70%;
  transition: 1.5s ease-out;
}
.wrap .coffeMachine .user__result .user__coffe {
  height: 300px;
  width: 10px;
  background-color: #5B432E;
  flex-shrink: 0;
  position: relative;
  top: -40px;
  margin-top: -100vh;
  transition: ease-in-out 0.5s;
}
.wrap .coffeMachine .user__result .user__water {
  width: 75px;
  height: 40px;
  background: #C4C4C4;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.wrap .coffeMachine .user__result .user__water::before {
  content: "";
  display: block;
  width: calc(100% + 20px);
  height: 15px;
  background: #222222;
  border-radius: 0 0 10px 10px;
}
.wrap .coffeMachine .user__result .user__water::after {
  content: "";
  display: block;
  width: 30%;
  height: 15px;
  background: #ffffff;
  position: relative;
  top: 15px;
  border-radius: 0 0 20px/15px 0;
}
.wrap .history {
  position: fixed;
  display: block;
  top: 50px;
  right: 50px;
  z-index: 10;
  padding: 10px 25px;
  text-align: center;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: 5px solid #876445;
  background: #EDDFB3;
  color: #876445;
  cursor: pointer;
  outline: 0px solid #CA955C;
  outline-offset: 0px;
  transition: outline 0.3s ease-out, outline-offset 0.3s ease-out;
}
.wrap .history:hover {
  outline: 3px dashed #CA955C;
  outline-offset: -12px;
}
.wrap .desk {
  width: 350px;
  height: 350px;
  background: url(./images/carpet.svg) 0% 0%;
  background-size: 50%;
  z-index: 10;
  position: relative;
}

.history__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #EDDFB3;
  padding: 25px;
  border-radius: 15px/10px;
  font-family: "Montserrat", sans-serif;
}
.history__wrapper .JPO_close {
  height: 20px;
  width: 20px;
  background: #f02c2c;
  border-radius: 5px/3px 0;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 25px;
}
.history__wrapper .history__headline {
  font-size: calc(20px + 1vw);
  color: #876445;
}

@keyframes blick {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

/*# sourceMappingURL=style.css.map */
